*/Pods/*
*/Podfile.lock

ElectroluxCodingExercise/ElectroluxCodingExercise.xcworkspace/xcuserdata/iealeshi.xcuserdatad/UserInterfaceState.xcuserstate
ElectroluxCodingExercise/ElectroluxCodingExercise.xcworkspace/xcuserdata/iealeshi.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
ElectroluxCodingExercise/ElectroluxCodingExercise.xcworkspace/xcuserdata/iealeshi.xcuserdatad/UserInterfaceState.xcuserstate
ElectroluxCodingExercise/ElectroluxCodingExercise.xcworkspace/xcuserdata/iealeshi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist
*.xcuserstate
